<!DOCTYPE html>
<html lang="en">
<head>

  <title>Inici0</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  body {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #f4511e;
    color: #fff;
    padding: 100px 200px;

  }
  .container-fluid {
    padding: 100px -1px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }

   .logo {
    color: #f4511e;
    font-size: 180px;
  }

  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: normal;
  }

  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<div class="jumbotron text-center">
  <h1>Futebol</h1> 
  <p>Projeto Final</p> 

</div>

<!-- Container (Sobre o Projeto) -->
<div id="about" class="container-fluid">

    <div class="col-sm-8">
      <h2>Sobre o Projeto</h2><br>
      <h4>Este projeto foi desenvolvido para a cadeira de Tecnologias de Informação 3 </h4><br>
      <p>Consiste num sistema de gestão feito em MVC</p>
     
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>

</div>

</body>
</html>